
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" routerLink="/home">Air Side</a>

  <div class="navbar-nav mr-auto" >
   <!--<a href="/home" class="nav-item nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" routerLink="home">Home </a>
    <a href="/admin" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" *ngIf="showAdminBoard" routerLink="admin">Admin </a>
    <a href="/user" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" *ngIf="isLoggedIn" routerLink="user">User </a>-->
<!--

    <a class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" *ngIf="isLoggedIn" routerLink="/mockTest">MockTest </a>
-->

    <ul class="navbar-nav mr-auto" *ngIf="isAdminRole" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/addCompany">Add Company</a>
          <a class="dropdown-item" routerLink="/addVehicle">Add Vehicle</a>
          <a class="dropdown-item" routerLink="/addTransponder">Add Transponder</a>
          <a class="dropdown-item" routerLink="/borrowTransponder">Borrow Transponder</a>
          <a class="dropdown-item" routerLink="/returnTransponder">Return Transponder</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/viewTransponder">View Transponder</a>
          <a class="dropdown-item" routerLink="/vehicleCompanyInfos">View Vehicles</a>
          <a class="dropdown-item" routerLink="/viewBorrowReturnTransponderStatus">View loan Transponder Status</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/billing">Billing</a>
          <a class="dropdown-item" routerLink="/customer">Customer</a>
          <a class="dropdown-item" routerLink="/company">Company</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Form
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/newTransaction">New Transaction</a>
          <a class="dropdown-item" routerLink="/oldTransaction">Old Transaction</a>
          <a class="dropdown-item" routerLink="/customerInfo">Customer Info</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav mr-auto" *ngIf="isAdminRole" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/rfid">RFID</a>
          <a class="dropdown-item" routerLink="/antenna">Antenna</a>
        </div>
      </li>
    </ul>




  </div>

  <div class="navbar-nav ml-auto" routerLinkActive="active" *ngIf="!isLoggedIn">
    <a class="nav-item nav-link" routerLink="/register">Sign Up </a>
    <a class="nav-item nav-link" routerLink="/login">Login</a>
  </div>


  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </li>
  </ul>

</nav>




