<div class="container pt-xl-5 pt-md-5 pt-5">
  <div class="row justify-content-md-center center">
    <div class="col-xs-12 col-md-7 col-md-offset-7">
      <div class="alert alert-success" *ngIf="isSuccessful && successMessage">
        {{ successMessage }}
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="(isError && errorMessage)"
      >
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-xl-5 pt-md-5 pt-5">
  <div class="row justify-content-md-center center">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm">
            <button class="btn btn-primary" type="Button"
                    [disabled]="!isRFIDConnectedNow || isScanningEPC"
                    (click)="EPCButtonPress(f);">
              Scan
            </button>
          </div>

          <div class="col-sm">
            <button class="btn btn-primary" type="Button" (click)="onRemoveEPC();">
              Remove
            </button>
          </div>
        </div>

        <div class="row pt-5">
          <div class="col-sm-10 form-group">
            <button
              class="btn btn-success"
              type="submit">
              <!--[disabled]="!f.valid"-->
              Return Transponder </button>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-sm-8 form-group">
            <ul class="list-group">
              Please click Scan to borrow
              <a
                class="list-group-item"
                style="cursor: pointer"
                *ngFor="let transponderItem of transponderArray; let i = index"
              >
                {{ transponderItem.callSign }}  |  {{ transponderItem.serialNumber}} | {{ transponderItem.epc}}
              </a>
            </ul>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
