
<div class="overflow-auto">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{panelOpenState ? 'Close Filter Window' : 'Open Filter Window'}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="vertical-form-field">
        <div class="col">
          <mat-form-field appearance="fill" class="no-label-field">
            <mat-label>Call Sign</mat-label>
            <input matInput placeholder="" value="" [formControl]="callSignFilter">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
    </div>

  </mat-expansion-panel>

  <div class="container-fluid">
    <div class="pt-4 pt-md-4 pt-4">
      <button mat-raised-button>Total Records : {{ size }}</button>
    </div>
    <div class="pt-xl-4 pt-md-4 pt-4">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

        <ng-container  matColumnDef="callSign">
          <tr><th mat-header-cell *matHeaderCellDef> Call Sign </th></tr>
          <tr><td mat-cell *matCellDef="let element"> {{element.callSign}} </td></tr>
        </ng-container>

        <ng-container  matColumnDef="epc">
          <tr><th mat-header-cell *matHeaderCellDef> EPC </th></tr>
          <tr><td mat-cell *matCellDef="let element"> {{element.epc}} </td></tr>
        </ng-container>

        <ng-container matColumnDef="antennaNumber">
          <tr><th  mat-header-cell *matHeaderCellDef >Antenna Number </th></tr>
          <tr><td mat-cell *matCellDef="let element"> {{element.antennaNumber}} </td></tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>
  </div>
</div>

