<app-admin></app-admin>

<div class="container pt-xl pt-md-5 pt-5">
  <div class="row justify-content-md-center center">
    <div class="col-xs col-md col-md-offset-10">
      <div class="row">
        <h1 class="col-9">Antenna Device Information</h1>
        <div class="col-3" *ngIf="isLoading" >
          <small-app-loading-spinner></small-app-loading-spinner>
        </div>
      </div>

      <div class="container pt-md-2 pt-3">
        <div class="row align-items-start">
          <label for="comPort">ComPort </label>
          <div>
            <div class= "col">
              <input
                type="text"
                id="comPort"
                class="form-control"
                name="comPort"
                ngModel
                required
                [(ngModel)]="comPortValue"
              >
            </div>
          </div>
          <div class= "col-2">
            <button
              class="btn btn-secondary"
              type="Button"
              (click)="openAntenna(f)"
              [disabled]="!comPortValue || isContinuousScanning"
            > Connect</button>
          </div>
          <div class="col-2">
            <button
              class="btn btn-secondary"
              type="Button"
              (click)="closeAntenna()"
            > Disconnect</button>
          </div>

          <div class="col">
            <button
              class="btn btn-secondary"
              type="Button"
              (click)="offAlarm()"
            > Off Alarm </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-md-2 pt-2">
  <div class="row justify-content-end pt-md-5 pt-5">

    <div class="col">
      <button
        class="btn btn-success"
        type="Button"
        (click)="startContinousScanning()"
        [disabled]="isContinuousScanning"
      > Start Scanning </button>
    </div>
    <div class="col">
      <button
        class="btn btn-success"
        type="Button"
        [disabled]="!isContinuousScanning"
        (click)="stopContinousScanning()"
      > Stop Scanning </button>
    </div>

    <div class="col">
      <button
        class="btn btn-primary"
        type="Button"
        (click)="clearFields(f)"
        [disabled]="isContinuousScanning"
      > Clear </button>
    </div>

    <div class="col">
      <button
        class="btn btn-primary"
        type="Button"
        (click)="getData()"
        [disabled]="!isOpenAntenna || !isOpenAntenna || isContinuousScanning"
      > Get Data</button>
    </div>
  </div>
</div>


<div class="container pt-xl pt-md-2 pt-2">
  <div class="row justify-content-md-center">
    <div class="col-xs col-md col-md-offset-10">
      <div class="alert alert-success" *ngIf="isSuccessful && successMessage">
        {{ successMessage }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-xl pt-md-2 pt-2">
  <div class="row justify-content-md-center">
    <div class="col-xs col-md col-md-offset-10">
      <div class="alert alert-danger" *ngIf="!isSuccessful && errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>



<div class="container pt-xl pt-md-1 pt-1">
  <div class="row center">
    <div class="col-xs col-md col-md-offset-10">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="row pt-xl pt-md-4 pt-4">
          <div class="col-sm form-group">
            <label for="serialNumber">Serial Number</label>
            <input
              type="text"
              id="serialNumber"
              class="form-control"
              name="serialNumber"
              ngModel
              required
              [(ngModel)]="serialNumberValue"
              [disabled]="true"
            >
          </div>
          <div class="col-sm form-group">
            <label for="versionInformation">Version Information</label>
            <input
              type="text"
              id="versionInformation"
              class="form-control"
              name="versionInformation"
              ngModel
              required
              [(ngModel)]="versionInformationValue"
              [disabled]="true"
            >
          </div>
        </div>

        <div class="row">
          <div class="col-sm form-group">
            <label for="rfPower">RF PowerdBm (0-30)</label>
            <input
              type="number"
              id="rfPower"
              class="form-control"
              name="rfPower"
              ngModel
              required
              [(ngModel)]="rfPowerValue"
            >
          </div>
          <div class="col-sm form-group">
            <label for="drm">DRM ( 0= disable , 1= Enable)</label>
            <input
              type="number"
              id="drm"
              class="form-control"
              name="drm"
              ngModel
              required
              [(ngModel)]="drmValue"
            >
          </div>
          <div class="col-sm form-group">
            <label for="beepStatus">Beep Enable ( 0= disable , 1= Enable)</label>
            <input
              type="number"
              id="beepStatus"
              class="form-control"
              name="beepStatus"
              ngModel
              required
              [(ngModel)]="beepStatusValue"
            >
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 form-group">
            <label for="readerTemperature">Reader Temperature (Degree Celsius)</label>
            <input
              type="text"
              id="readerTemperature"
              class="form-control"
              name="readerTemperature"
              ngModel
              required
              [disabled]="true"
              [(ngModel)]="readerTemperatureValue"
            >
          </div>
        </div>

        <div class="row">
          <div class="col-sm-10 form-group">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid || !isOpenAntenna"
            > Update </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
