<div class="container pt-5">
  <div class="row justify-content-md-center">
    <div class="col-xs col-md col-md-offset-10">
      <div class="alert alert-success" *ngIf="isSuccessful && successMessage">
        {{ successMessage }}
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-xs col-md col-md-offset-10">
      <div class="alert alert-danger" *ngIf="isError && errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-xl pt-md-1 pt-1">
  <div class="row justify-content-md-center">
    <div class="row">
      <div class="col-3" *ngIf="isLoading" >
        <mat-spinner diameter="35"></mat-spinner>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <mat-card>
    <div class="d-flex align-items-center">
      ComPort :
      <div class="col-2 mr-5">
        <input
          type="text"
          id="comPort"
          class="form-control"
          name="comPort"
          ngModel
          required
          [(ngModel)]="comPortValue"
        >
      </div>
      <div class="ml-auto">
        <button
          class="btn btn-secondary ml-5"
          type="Button"
          (click)="connectAntenna(f)"
          [disabled]="isPassiveScanning || isActiveScanning"
        > Connect</button>
        <button
          class="btn btn-secondary ml-2"
          type="Button"
          [disabled]="isPassiveScanning || isActiveScanning"
          (click)="disconnectAntenna()"
        > Disconnect</button>
      </div>
    </div>
  </mat-card>
</div>

<!------------------------------------------------------->
<!------------ PASSIVE CONFIGURATION --------------------->
<!------------------------------------------------------->
<div class="container pt-5">
  <h4 class="example-h4"> Passive configuration</h4>
  <div class="container pt-xl pt-md-1 pt-1">
    <div class="row justify-content-md-center">
      <div class="row">
        <div class="col-3" *ngIf="isPassiveScanning" >
          <mat-spinner diameter="35"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
  <mat-card >
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="isPassiveAntennaOne">Antenna 1</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="isPassiveAntennaTwo">Antenna 2</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="isPassiveAntennaThree">Antenna 3</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="isPassiveAntennaFour">Antenna 4</mat-checkbox>
        </section>
      </div>
      <div class="ml-auto">
        <button
          class="btn btn-success mr-3"
          type="Button"
          (click)="startPassiveScan()"
          [disabled]="isPassiveScanning || !isOpenAntenna "
        > Start Passive </button>
        <button
          class="btn btn-success mr-3"
          type="Button"
          [disabled]="!isPassiveScanning || !isOpenAntenna  "
          (click)="stopPassiveScan()"
        > Stop</button>
        <button
          class="btn btn-success"
          type="Button"
          (click)="offAlarm()"
          [disabled]="!isOpenAntenna"
        > Off Alarm </button>
      </div>
    </div>
  </mat-card>
</div>

<!------------------------------------------------------->
<!------------ ACTIVE CONFIGURATION --------------------->
<!------------------------------------------------------->
<div class="container pt-5">
  <h4 class="example-h4"> Active configuration</h4>
  <mat-card >
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="isActiveAntennaOne">Antenna 1</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="isActiveAntennaTwo">Antenna 2</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="isActiveAntennaThree">Antenna 3</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="isActiveAntennaFour">Antenna 4</mat-checkbox>
        </section>
      </div>
      <div class="ml-auto">
        <button
          class="btn btn-success mr-3"
          type="Button"
          (click)="startActiveScan()"
          [disabled]="isActiveScanning || !isOpenAntenna"
        > Start Active </button>
        <button
          class="btn btn-success"
          type="Button"
          [disabled]="!isActiveScanning || !isOpenAntenna"
          (click)="stopActiveScan()"
        > Stop</button>
      </div>
    </div>
  </mat-card>
</div>



<div class="container pt-5">
  <div class="d-flex flex-gap align-items-center pt-4">
    <div class="ml-auto">
      <button
        class="btn btn-primary mr-2"
        type="Button"
        (click)="getData()"
        [disabled]="isPassiveScanning || isActiveScanning || !isOpenAntenna"
      > Get Data</button>
      <button
        class="btn btn-primary"
        type="Button"
        (click)="clearFields(f)"
        [disabled]="isPassiveScanning || isActiveScanning || !isOpenAntenna"
      > Clear </button>
    </div>
  </div>
</div>



<div class="container pt-xl pt-md-1 pt-1">
  <div class="row center">
    <div class="col-xs col-md col-md-offset-10">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row pt-xl pt-md-4 pt-4">
          <div class="col">
            <label for="serialNumber">Serial Number</label>
            <input
              type="text"
              id="serialNumber"
              class="form-control"
              name="serialNumber"
              ngModel
              required
              [(ngModel)]="serialNumberValue"
              [disabled]="true"
            >
          </div>
          <div class="col">
            <label for="versionInformation">Version Information</label>
            <input
              type="text"
              id="versionInformation"
              class="form-control"
              name="versionInformation"
              ngModel
              required
              [(ngModel)]="versionInformationValue"
              [disabled]="true"
            >
          </div>
          <div class="col">
            <label for="rfPower">RF PowerdBm (0-30)</label>
            <input
              type="number"
              id="rfPower"
              class="form-control"
              name="rfPower"
              ngModel
              required
              [(ngModel)]="rfPowerValue"
            >
          </div>
        </div>

        <div class="row pt-4">
          <div class="col">
            <label for="drm">DRM ( 0= disable , 1= Enable)</label>
            <input
              type="number"
              id="drm"
              class="form-control"
              name="drm"
              ngModel
              required
              [(ngModel)]="drmValue"
            >
          </div>
          <div class="col">
            <label for="beepStatus">Beep Enable ( 0= disable , 1= Enable)</label>
            <input
              type="number"
              id="beepStatus"
              class="form-control"
              name="beepStatus"
              ngModel
              required
              [(ngModel)]="beepStatusValue"
            >
          </div>
          <div class="col">
            <label for="readerTemperature">Reader Temperature (Degree Celsius)</label>
            <input
              type="text"
              id="readerTemperature"
              class="form-control"
              name="readerTemperature"
              ngModel
              required
              [disabled]="true"
              [(ngModel)]="readerTemperatureValue"
            >
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid || !isOpenAntenna"
            > Update Parameters</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

