<p>Transponder's table</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Transponder Call Sign</th>
            <th scope="col">Transponder Status</th>
            <th scope="col">Borrow Time</th>
            <th scope="col">Return Time</th>
            <th scope="col">Customer's Company Name</th>
            <th scope="col">RFID Tag's EPC</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
        </tr>
        <tr>
            <th scope="row">2</th>
            
        </tr>
        <tr>
            <th scope="row">3</th>
            
        </tr>
    </tbody>
</table>
