<div class="container pt-xl-5 pt-md-2 pt-5">
  <div class="row justify-content-md-center center">
    <div class="col-xs-12 col-md-7 col-md-offset-7">
      <div class="alert alert-success"
           *ngIf="isSuccessful && successMessage">
        {{ successMessage }}
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="(isError && errorMessage)"
      >
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-xl-5 pt-md-5 pt-5">
  <div class="row justify-content-md-center center">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="row">
          <div class="col-sm-8 form-group">
            <label>Company</label>
            <ng-select [items]="companySelectArray"
                       bindLabel="companyName"
                       placeholder="-- Select company --"
                       name="company"
                       [(ngModel)]="companySelected"
                       (change)="onChangeCompanySelect(companySelected)"
                       ngModel
                       required>
            </ng-select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 form-group">
            <label>Select registration number to edit</label>
            <ng-select [items]="vehicleSelectArray"
                       bindLabel="registrationNumber"
                       placeholder="-- Select registration number --"
                       name="registrationNumber"
                       [(ngModel)]="vehicleSelected"
                       ngModel
                       required>
            </ng-select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-10 form-group">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid"> Delete Vehicle </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
